*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 13px auto;
    border-radius: 52px;
    filter: drop-shadow(0px 8px 20px #281478);
}
body {
    background-color: rgb(86, 78, 78);
    padding: 20px;
}
h1{
        text-align: center; 
        color: white;
}
#name{
    color: RGB(176, 38, 255);
    font-size: 40px;
}
#ai-name{
    color: RGB(38, 255, 201);
}
#voice {
    display: block;
    margin: 10px auto;
    width: 164px;
    height: auto;
    border-radius: 102px;
    mix-blend-mode: screen;
}
#btn {
    gap: 24px;
    width: 370px;
    margin: 10px auto;
    padding: 15px 30px;
    font-size: 15px;
    background-color: rgb(230, 236, 234);
    color: black;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}
#btn:hover{
    gap: 10px;
    letter-spacing: 5px;
    background-color: rgb(193, 72, 253);
    transition: all 0.3s ease;
}